@import "tailwindcss";
@import "tw-animate-css";
@import 'swiper/css';
@import 'swiper/css/navigation';


@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
.text-outline-white {
    -webkit-text-stroke: 0.5px black;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes partners-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-partners-scroll {
    animation: partners-scroll 10s linear infinite;
}


.border-draw {
    position: relative;
    border-radius: 2em;
    box-sizing: border-box;
}

.border-draw svg {
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    pointer-events: none;
    z-index: 1;
}

.border-draw .border-path {
    stroke: white;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.after-effect::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: transform 0.3s ease;
}

.after-effect:hover::after,
.active-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(1); /* full width */
    transform-origin: center;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: none; /* no animation */
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* 16:9 aspect ratio */
    min-height: 100vh;
    min-width: 177.78vh; /* 16:9 aspect ratio */
    transform: translate(-50%, -50%);
}

.scale-in-hor-center {
    animation: scale-in-hor-center .5s 0.3s cubic-bezier(.25, .46, .45, .94) both
}

.scale-in-hor-left {
    animation: scale-in-hor-left .5s cubic-bezier(.25, .46, .45, .94) both
}

.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

.text-shadow-drop-bl {
    animation: text-shadow-drop-bl .6s both
}

.swing-in-top-fwd {
    animation: swing-in-top-fwd 0.8s 0.3s cubic-bezier(.175, .885, .32, 1.275) both
}

.swing-in-top-fwd-2 {
    opacity: 0;
}

.swing-in-top-fwd-2.animate {
    animation: swing-in-top-fwd 1.2s 0.3s cubic-bezier(.175, .885, .32, 1.275) both;
}

.puff-in-center {
    opacity: 0;
}

.puff-in-center.animate {
    animation: puff-in-center .5s 0.3s cubic-bezier(.47, 0.000, .745, .715) both
}

.fade-in {
    animation: fade-in 1.5s 0.3s cubic-bezier(.47, 0.000, .745, .715) both
}

.kenburns-top {
    animation: kenburns-top 5s ease-out both
}

.jello-horizontal {
    animation: jello-horizontal .9s both
}

.bounce-top {
    animation: bounce-top .5s both
}

.wobble-hor-bottom {
    animation: wobble-hor-bottom .8s both
}

.ping {
    animation: pingu 1.5s ease-in-out infinite both
}

.slide-in-right {
   opacity: 0;
}
.slide-in-right.animate {
    -webkit-animation: slide-in-right .5s 1s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-in-right .5s 1s cubic-bezier(.25, .46, .45, .94) both
}

.heartbeat {
    animation: heartbeat 1.5s ease-in-out infinite both
}

@keyframes wobble-hor-bottom {
    0%, 100% {
        transform: translateX(0);
        transform-origin: 50% 50%
    }
    15% {
        transform: translateX(-30px) rotate(-6deg)
    }
    30% {
        transform: translateX(15px) rotate(6deg)
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg)
    }
    60% {
        transform: translateX(9px) rotate(2.4deg)
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg)
    }
}

@keyframes bounce-top {
    0% {
        transform: translateY(-45px);
        animation-timing-function: ease-in;
        opacity: 1
    }
    24% {
        opacity: 1
    }
    40% {
        transform: translateY(-24px);
        animation-timing-function: ease-in
    }
    65% {
        transform: translateY(-12px);
        animation-timing-function: ease-in
    }
    82% {
        transform: translateY(-6px);
        animation-timing-function: ease-in
    }
    93% {
        transform: translateY(-4px);
        animation-timing-function: ease-in
    }
    25%, 55%, 75%, 87% {
        transform: translateY(0);
        animation-timing-function: ease-out
    }
    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1)
    }
    30% {
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        transform: scale3d(1, 1, 1)
    }
}

@keyframes kenburns-top {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%
    }
    100% {
        transform: scale(1.25) translateY(-15px);
        transform-origin: top
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes text-shadow-drop-bl {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: -6px 6px 18px rgba(0, 0, 0, .35)
    }
}

@keyframes text-shadow-drop-bl {
    0% {
        text-shadow: 0 0 0 transparent
    }
    100% {
        text-shadow: -6px 6px 18px rgba(0, 0, 0, .35)
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1
    }
}

@-webkit-keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
}

@keyframes scale-in-hor-center {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 1
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1
    }
}

@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1
    }
}

@keyframes pingu {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes puff-in-center {
    0% {
        transform: scale(.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out
    }
    10% {
        transform: scale(.97);
        animation-timing-function: ease-in
    }
    17% {
        transform: scale(.98);
        animation-timing-function: ease-out
    }
    33% {
        transform: scale(.95);
        animation-timing-function: ease-in
    }
    45% {
        transform: scale(1);
        animation-timing-function: ease-out
    }
}

.slide-in-bottom {
    opacity: 0;
}

.slide-in-bottom.animate {
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.half-ring {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    background: transparent;
}

.pulsate-bck {
    animation: pulsate-bck 0.5s ease-in-out infinite both;
}
@keyframes pulsate-bck {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.swiper {
    padding: 0 10px 14px 14px !important;
}
.flicker-1 {
    animation: flicker-1 2s linear infinite both;
}
@keyframes flicker-1 {
    0%,
    100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}
@layer components {
    .swiper-button-next,
    .swiper-button-prev {
        @apply text-white;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        @apply text-white;
    }
}